<div class="main-container">
	<div class="filter-sort-container">
		<div class="search-bar-container">
			<div class="field">
				<p class="control has-icons-left">
					<input
						class="input"
						type="text"
						[(ngModel)]="searchText"
						(ngModelChange)="onInputChange()"
						placeholder="filter" />
					<span class="icon is-small is-left"><i class="fas fa-search"></i></span>
				</p>
			</div>
		</div>
		<div class="sort-dropdown-container">
			<div class="control has-icons-left">
				<div class="select is-primary">
					<select
						name="sort"
						(change)="onSortChange($event)"
						id="">
						<option value="date">Date</option>
						<option value="alphabetical">A - Z</option>
					</select>
				</div>
				<span class="icon is-small is-left">
					<i class="fa-thin fa-arrow-down-short-wide"></i>
				</span>
			</div>
		</div>
	</div>

	<div
		class="notes-list"
		[@listAnimation]>
		<app-note-card
			*ngFor="let note of filteredList; index as i"
			[link]="'edit/' + note.id"
			[@itemAnimation]
			(delete)="deleteNote(note.id)"
			[title]="note.title"
			[body]="note.body">
		</app-note-card>
	</div>

	<button
		class="button floating-add-button is-primary"
		routerLink="new">
		+ Add
	</button>
	<button
		class="button floating-remove-button is-secondary"
		(click)="clearAll()">
		Clear All
	</button>
</div>
